.bar {
  position: fixed;
  background: Tomato;
}

p {
  margin: 0px;
}

#top {
  background: Grey;
  width: 100%;
  margin: 0px;
}

#middle {
  background: BlanchedAlmond;
  width: 100%;
  margin: 0px;
}

#bottom {
  background: rgb(255,235,205);
  background: linear-gradient(180deg, Grey 0%, Black 100%);
  margin: 0px;
}
