html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

#top {
	background: BlanchedAlmond;
	height: 9%;
	width: 100%;
	margin: 0px;
}

.nav ul {
	list-style-type: none;
	margin: 0px;
}

.nav ul li {

}

.nav ul li:last-child {

}

.nav ul li a:button {
  transition-duration: 0.4s;
}

.nav ul li a:hover {
  background-color: #4CAF50;
  color: white;
}

.navicon {
	background-color: transparent;
	width: 7%;
	border-radius: 100%;
	box-shadow: 1px 1px 5px black;
}

#middle {
	background: BlanchedAlmond;
	width: 100%;
	height: 68%;
	margin: 0px;
}

#bottom {
	background: #292b2f;
	background: linear-gradient(180deg, #292b2f 1%, Black 100%);
	height: 68%;
	margin: 0px;
}

